*{
    font-family: monospace;
}
body{
    margin: 0;
    font-size: 15px;
    background-color: #f0f8ff;
}
header{
    height: 100vh;
    color: white;
    background-color: #2196f3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
header h1{
    margin: 0;
}
h1{
    font-size: 50px;
    color: #2196f3;
}
header h1{
    color: white;
}
.button{
    margin: 15px;
    height: 40px;
    width: 140px;
    border: none;
    border-radius: 10px;
    cursor: pointer;

}
.button:hover{
    color: white;
    background-color: darkblue;
}
img{
    height: 200px;
}
main{
    padding: 20px;
}
section{
    height: 100vh;
    border: 1px solid gray;
    border-radius: 20px;
    margin-bottom: 20px;
    display: flex;
    padding: 7px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.submit{
    height: 40px;
    width: 140px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    color: white;
    background-color: #2196f3;
}
.submit:hover{
    background-color: #065ca2;
}
input{
    border-radius: 5px;
    border: 1px solid lightgray;
    height: 25px;
}
.fixedButton{
    position: fixed;
    bottom: 10px;
    right: 10px;
    height: 70px;
    width: 70px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    color: white;
    background-color: #2196f3;
}
footer{
    height: 124px;
    background-color: black;
    color: lightgray;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}